[RFC] [FEATURE REQUEST] QUIC or HTTP/3

Hi guys,
thank you for the project.

Do you plan to implement the QUIC protocol AKA HTTP/3?

I cannot into Golang, but i've found several implementations of QUIC: [1](https://github.com/lucas-clemente/quic-go) [2](https://github.com/pion/quic) [3](https://github.com/romain-jacotin/quic)

According to the [article](https://eng.uber.com/employing-quic-protocol/) from Uber, this should be a very promising feature.

@cidious Quick is currently in the beta stage (or alfa might be). There is a draft document about standard [link](https://quicwg.org/base-drafts/draft-ietf-quic-transport.html). I think, when it is supported by default by major browsers (not via the config flags) we will add the support of QUIC.

Also, if this request is popular, we will add support for sure ASAP :)
From my POV I totally agree with you, this def will be a very promising feature.

Technically it's still in draft, but Google already using it in production.

The IETF just published QUIC as [RFC 9000](https://www.rfc-editor.org/info/rfc9000), supported by [RFC 9001](https://www.rfc-editor.org/info/rfc9001), [RFC 9002](https://www.rfc-editor.org/info/rfc9002), and [RFC 8999](https://www.rfc-editor.org/info/rfc8999). That means QUIC version 1 is officially formalized, and QUIC deployments will now move away from using temporary draft versions to the newly minted version 1. ([HTTP/3](https://datatracker.ietf.org/doc/html/draft-ietf-quic-http-34), the version of HTTP that runs on QUIC, is following closely behind, and should be published soon.)

This news is a big deal, both for the IETF and for the internet ecosystem.